In [1]:
import pymongo
conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["college"]
col = db["studlist"]

In [3]:
import json
with open("data.json") as file:
    data=json.load(file)
db.studlist.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5, 6], acknowledged=True)

In [6]:
result = col.find({"gender":"female","course":"MCA"},{"name":1,"mark":1})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nMark: ",i['mark'])

Name: Anjali Menon
Mark:  92

Name: Meera Das
Mark:  88

In [13]:
result = col.find({"course":"MCA"}).sort("mark",-1).limit(1)
for i in result:
    for j in i.keys():
        print(j+": ",i[j])

_id:  1
name:  {'fname': 'Anjali', 'lname': 'Menon'}
gender:  female
course:  MCA
mark:  92
grade:  A+
phone:  {'no': '9876543210'}
address:  {'city': 'Kollam'}

In [15]:
result = col.find({"gender":"male","grade":"A+"})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade'])

Name: Vishnu Raj
Grade: A+

Name: Rahul Nair
Grade: A+

In [17]:
result = col.find({"course":"Mechanical"}).sort("mark",-1).limit(3)
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nDepartment: "+i['course']+"\nMark: ",i['mark'])

Name: Vishnu Raj
Department: Mechanical
Mark:  95

Name: Divya Pillai
Department: Mechanical
Mark:  94

Name: Varun Krishnan
Department: Mechanical
Mark:  89

In [19]:
result = col.find({"mark":{"$gt":90},"gender":"female"})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMark: ",i['mark'],"\nContact No: ",i['phone']['no'])

Name: Anjali Menon
Grade: A+
Mark:  92
Contact No:  9876543210

Name: Divya Pillai
Grade: A+
Mark:  94
Contact No:  9876545678

In [20]:
result = col.find({"mark":{"$gt":80,"$lt":90}})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMark: ",i['mark'],"\nContact No: ",i['phone']['no'])

Name: Meera Das
Grade: A
Mark:  88
Contact No:  9876512345

Name: Varun Krishnan
Grade: A
Mark:  89
Contact No:  9876534567

In [33]:
result = col.find({"name.fname": {"$regex": "^v", "$options": "i"}})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade'],"\nMark: ",i['mark'],"\nContact No: ",i['phone']['no'])

Name: Vishnu Raj
Grade: A+
Mark:  95
Contact No:  9876501234

Name: Varun Krishnan
Grade: A
Mark:  89
Contact No:  9876534567

In [32]:
result = col.find({"address.city":"Kollam"})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname'],"\nCity: ",i['address']['city'])

Name: Anjali Menon
City:  Kollam

Name: Meera Das
City:  Kollam

Name: Varun Krishnan
City:  Kollam

In [34]:
result = col.find({"address.city":{"$nin":['Kollam','Thiruvananthapuram']}})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname'],"\nCity: ",i['address']['city'])

Name: Rahul Nair
City:  Alappuzha

In [35]:
result = col.find({"gender":"female","address.city":{"$in":['Kollam','Thiruvananthapuram']}})
for i in result:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname'],"\nCity: ",i['address']['city'])

Name: Anjali Menon
City:  Kollam

Name: Meera Das
City:  Kollam

Name: Divya Pillai
City:  Thiruvananthapuram